doctype html
html(lang="en")
    head
        title TO DO APP
        link(rel="stylesheet", href="/static/main.css")
    body
        .wrapper 
            h1.logo TO DO APP
            block number1